@charset "UTF-8";
@font-face {
    font-family:'passionOne-bold' ;
    src: url(fonts/PassionOne-Bold.ttf) format('truetype');
}




*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html, body{
    background-color: white;
    font-size: 1.3em;
    font-family: var(--fonte1);


}

header{ 
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'passionOne-bold', sans-serif;
    font-size: 1.4em;
    margin: 0;

}

header > h1{
    padding: 50px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 20px;
    padding-bottom: 50px;
}

section{
    background-color: white;
    color: rgb(0, 0, 0);
    font-size: 3vw;
    margin-left: 30px;
    padding-top: 1em;
    padding-bottom: 2em;
    line-height: 2em;
}


section#img1{
    color: white;
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    padding-left: 30px;
    background-size: cover;

}

section#img2{
    color: white;
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    max-width: 100%;
    padding-left: 30px;
    box-shadow: 20px;
}

section.box > p{
    background-color: rgba(37, 37, 37, 0.479);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.box{
    background-attachment: fixed;
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.205);
    color: white;
    max-width: 100%;
    margin: 0px;
}


a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

a:hover{
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    margin: 0px;
}