@charset "UTF-8";

body{
    background-color: rgb(212, 244, 248);
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    text-align: center;
    color: black
}

h2{
    color: rgb(66, 201, 149);
}

.titulo{
    color: rgba(9, 7, 7, 0.757);
    text-decoration: underline;
}

.basico {
    color: rgb(76, 255, 11);
}


.intermediario{
    color: rgb(194, 185, 0);
}
    

.avancado{
    color: rgb(255, 0, 0);
}
